.Button {
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 12px 12px;
    margin: 10px;
    font-weight: bold;
}

/* .Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
} */

.Button:disabled {
    color: red;
    cursor: not-allowed;
}

.Success {
    border-radius: 36px;
    color: snow;
    background-color: #3dd28d;
}

.Danger {
    color: #944317;
}